
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";

}

html {

    scroll-behavior: smooth;

}

body {

    background-color: #ddd0c8;

}

a {

    cursor: pointer;
    text-decoration: none;

}

header {

    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
    background-color: #ddd0c8;
    border-bottom: 5px solid #000;
    width: 100%;

}

header > a:nth-child(1) {

   justify-self: flex-start;
   align-self: flex-start; 

}

header ul {

    display: flex;
    align-items: center;
    list-style: none;
    justify-self: flex-end;

}

header ul li {

    margin: 0 0.7rem;

}

header ul li a {

    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: 0.4s;
    padding: 0.6rem;
    font-weight: 500;
    cursor: pointer;

}

header ul li a:hover {

    background-color: #fff;

}

.logo {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    position: relative;
    
}

.logo h2 {

    font-family: "Rhodium Libre";
    color: #000;
    font-size: 1.6rem;

}

header h1 {

    padding: 8px;
    font-size: 1.7rem;
    margin: 0 auto;
    border-bottom: 5px solid #000;
    border-radius: 12px;
    text-align: center;

}

.container {

    display: grid;
    grid-template-areas: "aside aside";
    height: 100vh;
    width: 100%;

}

.content {

    display: grid;
    grid-template-areas: "content" "bio";
    height: max-content;
    background-color: #ddd0c8;

}

.main {

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    height: max-content;
    grid-area: content;
    border-bottom: 5px solid #000;

}

.geforce {

    height: fit-content;
    width: 60%;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 4px solid #000;
    font-size: 1.7rem;

}

aside {

    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
    background-color: #000;
    color: #fff;
    padding: 25px;

}

aside h2 {

    color: #000;
    background-color: #ddd0c8;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px #ddd0c8, 0 0 20px #ddd0c8;
    font-family: "Rhodium Libre";
    font-size: 1.8rem;

}

aside ul li {

    list-style: none;
    text-align: center;
    margin: 20px auto;

}

aside ul li a {

    color: #000;
    text-decoration: none;
    border-bottom: 2px solid orangered;
    padding: 8px;
    color: #fff;
    font-weight: 500;

}

aside ul li a:hover {

    color: #25b500;
    width: 85%;

}

.author {

    font-style: oblique;;

}

.author:hover {

    color: #25b500;
    font-style: normal;

}

.any-h2 {

    color: red;
    border-bottom: 5px solid red;
    text-align: center;
    font-size: 1.4rem;

}

#introduction {

    margin-top: 8px;

}

.paragraph {

    margin: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    max-width: 75%;

}

.bio {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: #fff;
    grid-area: bio;

}

.bio h2 {

    color: red;
    border-bottom: 4px solid red;

}

.bio img {

    height: auto;
    max-height: 250px;
    width: 100%;
    max-width: 294px;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;

}

.bio p {

    max-width: 65%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 3px solid #000;

}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #000;
    min-height: 100px;
    padding: 20px 50px;

}

footer .social-icons,
footer .menu {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}

footer .social-icons li,
footer .menu li {

    list-style: none;

}

footer .social-icons li a {

    display: inline-block;
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    transition: 0.5s;

}

footer .social-icons li a:hover {

    transform: translateY(-7px);

}

footer .menu li a {
    
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    transition: 0.2s;
    opacity: 75%;

}

footer .menu li a:hover {

    opacity: 100%;

}

footer p {

    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #fff;

}

@media (max-width: 1250px) {

    header {

        grid-template-columns: 1fr;
        padding: 0;

    }

    header a:nth-child(1) {

        justify-self: center;
        align-self: center;

    }

    header ul {

        justify-self: center;
        align-self: center;
        margin: 10px auto;

    }

    header ul li {

        margin: 5px auto;

    }

    a .logo {

        border-bottom: 3px solid #000;

    }

}

@media (max-width: 500px) {

    a .logo h2 {

        font-size: 1.4rem;

    }

    header ul li a {

        font-size: 1.1rem;

    }

    .paragraph {

        font-size: 1.1rem;

    }

}