
.greenTheme {

    background-color: green;

    header {

        background-color: green;

    }

    .userInfo {

        border: 2px solid green;

    }

    #menu {

        border: 2px solid green;

    }

    .calculator h2 {

        color: green;

    }

    .calculations {

        border: 2px solid green;

    }

    .calculator-button {

        background-color: green;

    }

    .calculator-button:hover {

        background-color: gray;

    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {

        background-color: green;
        box-shadow: 0 0 10px green;

    }

    .images h2 {

        color: blue;

    }

    .name {

        color: red;

    }

}