
.orangeTheme {

    background-color: orangered;
        
    header {

        background-color: orangered;

    }

    .userInfo {

        border: 2px solid orangered;

    }

    #menu {

        border: 2px solid orangered;

    }

    .calculator h2 {

        color: orangered;

    }

    .calculations {

        border: 2px solid orangered;

    }

    .calculator-button {

        background-color: orangered;

    }

    .calculator-button:hover {

        background-color: gold;

    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {

        background-color: orangered;
        box-shadow: 0 0 10px orangered;

    }

    .images h2 {

        color: orchid;

    }

    .name {

        color: cornflowerblue;

    }

}