
.redTheme {

    background-color: red;

    header {

        background-color: red;

    }

    .userInfo {

        border: 2px solid red;

    }

    #menu {

        border: 2px solid red;

    }

    .calculator h2 {

        color: red;

    }

    .calculations {

        border: 2px solid red;

    }

    .calculator-button {

        background-color: red;

    }

    .calculator-button:hover {

        background-color: black;

    }

    input[type="submit"]:hover,
    input[type="reset"]:hover {

        background-color: red;
        box-shadow: 0 0 10px red;

    }

    .images h2 {

        color: blueviolet;

    }

    .name {

        color: blue;

    }

}